<header [ngClass]="{'menuBorder': isLogged===true}">
  <div class="container">
    <a routerLink="/" class="logo"></a>
  <nav>
    <ul>
      <li *ngIf='isAdminLogged' class="menu-container">
        <a>Admin</a>
        <div class="menu">
          <a routerLink="ajouter">Film</a>
          <a routerLink="ajouter">Membre</a>
          <a (click)="logout()">Deconnexion</a>
        </div>
      </li>
      <li *ngIf='isLogged' class="menu-container">
        <a>Utilisateur</a>
        <div class="menu">
          <a (click)="myProfile()">Profil</a>
          <a (click)="logout()">Deconnexion</a>
        </div>
      </li>
        <li>
        <a routerLink="films">Films</a>
        <a routerLink="profiles">Membres</a>
        <input #s type="text" placeholder="Recherchez votre film!"
        (keyup.enter)="search(s.value)"
        [value]="searchTerm"/>
       <button (click)="search(s.value)">🔍</button>
      </li>
    </ul>
  </nav>
  </div>
</header>
